// @import url("https://fonts.googleapis.com/css?family=Bree+Serif|Merriweather");
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Bree+Serif');
body {
	font-family: $font-primary;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 160%;
	background: $paleyellow;
	color: $darkblue;
}